<div class="container">
    <div class="jumbotron text-center" >
        <h3>Welcome to Kin Quotes.</h3>
    </div>

    <div class="row">
      <div class="col-md-8"  id="mycards">

        <div *ngFor = 'let quote of quotes, let i = index;'> 

        <div class="card bg-light mb-3" style="max-width: 28rem;">

          <div class="card-header">  
            <h5 id={{i}}>{{quote.quote}}</h5> <button class="btn btn-primary" id="vote">See Details</button>
          </div>
  
          <div class="card-body">
  
            <div class="card-title"> {{quote.description }} </div>
  
            <p class="card-text">
  
            </p>
          </div>
          </div>
        </div>

      </div>

        <div class="col-md-4" id="formquote">

          <app-quote-form></app-quote-form>

        </div>


    </div>

    </div>
    
