<div class="container-fluid  shadow p-3 mb-5 bg-white rounded">
    
    <h5 class="text-center">
        Add a Quote
    </h5>

    <form action=""> 

        <div class="tt">
            Enter Quote details:
        </div>

        <div class="form-group" >
            <label for="quote-title" class="tt">Quote  Title</label>
            <input type="text" class="form-control"  placeholder="Title of Your Quote">
        </div>

        <div class="form-group" >
            <label for="quote" class="tt">Quote</label>
            <input type="text" class="form-control"  placeholder="Enter Your Quote">
        </div>

        <div class="form-group" >
            <label for="author" class="tt">Author</label>
            <input type="text" class="form-control"  placeholder="Author of the Quote">
        </div>

        <div class="form-group" >
            <label for="name" class="tt">Your Name</label>
            <input type="text" class="form-control"  placeholder="Your Name">
        </div>

        <div  class="wrapper">
            <button id="addquote_btn" type="submit" class="btn btn-sm btn-success">Add Quote</button>
        </div>
             
    </form>

</div>
